@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



header {
    height: 6vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    display: flex;
    justify-content: normal;
    align-items: center;
    background-color: orange;


}

a {
    color: black;
    text-decoration: none;



}

/* achtergrond naast de logo */
b {

    background-image: url("Images/Testjapan.jpg");
    background-size: cover;
    background-position: center;
}

a:hover {
    color: red
}


header nav ul {
    display: flex;
}

ul li {
    font-size: 20px;
    letter-spacing: 2px;
    list-style: none;
    padding: 15px;
    margin-right: 10px;


}


main {
    flex: 1;
    padding-left: 150px;
    background-image: url("Images/Testjapan5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

main pre {
    font-size: medium;
    padding: 0;
}

.code {
    width: 50%;
    margin: 0 auto;
    background-color: #272822;
    color: white;
    font-size: 50 px;

}




.col-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 200px; */
    width:60%;
}

.col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 200px; */
    width: 70%;
}

/* .col-2 p {
    width: 40%;
} */


main table {
    text-align: center;
}

h1 {
    width: 250 px;
    padding-top: 50px;
    font-size: 40px;
    letter-spacing: 3px;
}


p {
    flex: 1;
    width: 50%;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: normal;
    margin-right: 50px;
}

p2 {

    width: 50%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
}


.buttons {
    display: flex;
}

button {
    width: 400px;
    height: 60px;
    font-size: 35px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 3px 6px rgba;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: orange;
}

button:hover {
    background-color: orangered;
}



footer {

    height: 6vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: normal;
    align-items: normal;
    background-color: orange;
}