@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



header {
    height: 10vh;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    display: flex;
    justify-content: normal;
    align-items: center;
    background-color: #AA2121;



}

a {
    color: whitesmoke;
    text-decoration: none;



}


b {
    padding-left: 10px;
    background-size: cover;
    background-position: center;

}

a:hover {
    color: black
}


header nav ul {
    display: flex;
}

ul li {
    font-size: 20px;
    letter-spacing: 2px;
    list-style: none;
    padding: 15px;
    margin-right: 10px;
    font-weight: bolder;



}


main {
    flex: 1;
    padding-left: 150px;
    background-image: url("Images/pexels_Donker_vulk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

main pre {
    font-size: medium;
    padding: 0;
}

.code {

    width: 60%;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 50 px;
    font-weight: bolder;
    color: white;
    padding: 5px 5px;

}




.EngNld {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 200px; */
    width: 60%;
    
}

.col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 200px; */
    width: 70%;

}

.gelijken {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding-right: 200px; */
    width: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding:10px 10px;
    /* margin-bottom: 20px; */
    float:left;
    color:white;
    margin: 10px;
}

.verschillen {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding-right: 200px; */
    width: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    padding: 10px 10px;
    float: left;
    color:white;
    margin:10px;

}

/* .col-2 p {
    width: 40%;
} */
.rooster {
    /* width: 50%; */
    color:white;
    font-size: 20px;
    padding-left: 25%;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

main table {
    text-align: center;
}

h1 {
    width: 250 px;
    padding-top: 50px;
    font-size: 40px;
    letter-spacing: 3px;
}


p {

    flex: 1;
    width: 30%;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    color: white;

}

.vergelijkings {
width:40%;
color:white;
/* background-color: rgba(0, 0, 0, 0.2); */
margin: 20 px;
display: flex;
justify-content: space-between;
}

p2 {

    width: 50%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
}


.buttons {
    display: flex;
}

button {
    width: 400px;
    height: 60px;
    font-size: 35px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 3px 6px rgba;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: orange;
}

button:hover {
    background-color: orangered;
}



footer {

    height: 10vh;
    /* display: flex; */
    /* justify-content: normal; */
    /* align-items: normal; */
    background-color: #AA2121;
}

.footer-text {
    text-align: center;
    margin-top: 2%;
    color: white;
    /* padding-left: 45%; */
    /* padding-top: 40px; */
}